 <template>
    <div class="container">
        <b-button pill variant="outline-info" class="mt-2 w-100" @click="createReport">Create Report</b-button>
        <h2 class="text-center text-info mt-4">All Report</h2>
        <h2 class="text-center text-info mt-4">{{this.$route.params.type}}</h2>
        <div v-for="(report, index) in laravelData.data" :key="index" class="card text-center m-4">
            <div class="card-header">
                {{report.type}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{report.title}}</h5>
                <p class="card-text">{{report.content || 'no content'}}</p>
                <router-link
                    tag="button"
                    class="btn btn-info m-2 w-50"
                    :to="'/edit/' + report.id"
                    :key="report.id"
                >
                  <a>Edit</a>
                  </router-link>
            </div>
        </div>
<pagination class="d-flex justify-content-center" :data="laravelData" @pagination-change-page="getResults">
    <span slot="prev-nav">&lt; Previous</span>
    <span slot="next-nav">Next &gt;</span>
</pagination>
    </div>
</template>
<script>
    import axios from 'axios'
    export default {

        data() {
          return {
            type: '',
            laravelData: {},
        }
        },

        mounted() {
        this.getResults();
    },

     watch: {
            $route (){
                this.type = this.$route.params.type;
                axios.post('/reports', {
                    type: this.type,
                }).then(response => {
                console.log(response);
                this.laravelData = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
            }
        },

        methods: {
        getResults(page = 1) {
            axios.post('/reports?page=' + page)
                .then(response => {
                    this.laravelData = response.data;
                });
        },
           createReport() {
                this.$router.push('/create-report')
            },
    }
  }
</script>
<style scoped>

    .card-header {
        text-transform: capitalize
    }

    a {
        text-decoration: none !important;
        color: white !important;
    }
</style>
