<template>
  <div class="container">
    <h2 class="text-center text-info mt-2">Choose Report Type</h2>
    <div class="d-flex justify-content-around">
      <router-link
        tag="button"
        class="btn btn-light m-2 w-50"
        :to="'/create/sales'"
       >
      <a>Create Sales Report</a>
      </router-link>
      <router-link
        tag="button"
        class="btn btn-light m-2 w-50 text-muted"
        :to="'/create/rental'"
      >
      <a>Create Rental Report</a>
      </router-link>
    </div>
    <router-view></router-view>
  </div>
</template>
<script>
  export default {
    }
</script>
<style scoped>
  label {
    color: black;
  }
</style>
