<template>
  <div class="container">
    <h2 class="text-center text-info mt-2">Create {{this.$route.params.type}} Report</h2>
    <b-alert
        variant="danger"
        dismissible
        fade
        :show="error"
     >
        Something is wrong
    </b-alert>
    <b-form @submit.prevent="createReport" @reset="onReset">
        <b-form>
            <b-form-group
                id="input-group-1"
                label="Title"
                class="text-light"
                label-for="input-1"
            >
            <b-form-input
                :class="{'is-invalid' : $v.title.$error}"
                @input="$v.title.$touch()"
                id="input-1"
                v-model.trim="title"
                placeholder="*"
                type="text">
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.title.required">Report field is required</div>
            </b-form-group>
            <b-form-group
                id="input-group-2"
                label="Content"
                class="text-light"
                label-for="input-2"
            >
            <b-form-input
                v-model="content"
                id="input-2"
                type="text">
            </b-form-input>
            </b-form-group>
            <b-form-group>
            <b-form-radio-group
                v-model="type"
                :options="options"
                plain
                name="plain-inline"
                @change="handleRadioChange"
            ></b-form-radio-group>
            </b-form-group>
        </b-form>
        <b-button type="submit" variant="primary" :disabled="$v.$invalid">Create Report</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>
<script>
    import { required } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                error: false,
                title: "",
                content: "",
                type: this.$route.params.type,
                options: [
                    { text: 'Rental', value: 'rental'},
                    { text: 'Sales', value: 'sales'},
                ]
            }
        },
        

        watch: {
            $route (){
                this.type = this.$route.params.type;
            }
        },

        validations: {
            title: {
                required,
            },
        },

        methods: {
            createReport() {
                this.$store.dispatch('createReport',{
                title: this.title,
                content: this.content,
                type: this.type,
            }).then(response => {
                  console.log(response);
                  this.title = "";
                  this.type = "";
                  this.$router.push('/reports');
            }).catch(error => {
                    this.error = true;
                    console.log(error);
            })
            },

            onReset(evt) {
                evt.preventDefault();
                 this.title = '';
                 this.content = ''
            },

            handleRadioChange(e) {
                this.type = e;
                this.$router.push('/create/'+e)

            }
        },
    }
</script>
<style>
    label {
        color: black;
    }
    h2 {
        text-transform: capitalize
    }
</style>
