<template>
  <div class="container">
    <h2 class="text-center text-info mt-2">Edit Report</h2>
    <b-alert
        variant="danger"
        dismissible
        fade
        :show="error"
     >
        Something is wrong
    </b-alert>
    <b-form @submit.prevent="editReport" @reset="onReset">
        <b-form>
            <b-form-group
                id="input-group-1"
                label="Title"
                class="text-light"
                label-for="input-1"
            >
            <b-form-input
                :class="{'is-invalid' : $v.title.$error}"
                @input="$v.title.$touch()"
                id="input-1"
                v-model.trim="title"
                placeholder="*"
                type="text">
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.title.required">Report field is required</div>
            </b-form-group>
            <b-form-group
                id="input-group-2"
                label="Content"
                class="text-light"
                label-for="input-2"
            >
            <b-form-input
                v-model="content"
                id="input-2"
                type="text">
            </b-form-input>
            </b-form-group>
            <b-form-group>
            <b-form-radio-group
                v-model="type"
                :options="options"
                plain
                name="plain-inline"
                :class="{'is-invalid' : $v.type.$error}"
            ></b-form-radio-group>
            </b-form-group>
        </b-form>
        <b-button type="submit" variant="primary" :disabled="$v.$invalid">Save</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </div>
</template>
<script>

    import { required } from 'vuelidate/lib/validators'
    import axios from 'axios'

    export default {
        data() {
            return {
                error: false,
                type: "",
                title: "",
                content: "",
                id: this.$route.params.id,
                options: [
                    { text: 'Rental', value: 'rental'},
                    { text: 'Sales', value: 'sales'},
                ]
            }
        },

        created() {
            axios.post('/editingReport',{
                id: this.id
            }).then(response => {
                let report = response.data
                this.title = report.title
                this.content = report.content
                this.type = report.type
            }).catch(error => {
                console.log(error);
            })
        },

        validations: {
            title: {
                required,
            },
              type: {
                required,
            },
        },

        methods: {
            editReport() {
                axios.post('/update', {
                  id: this.id,
                  title:this.title,
                  content:this.content,
                  type:this.type,
                    })
                .then(response => {
                console.log(response);
                this.$router.push('/reports')
                })
                .catch(error => {
                console.log(error)
                })
            },

            onReset(evt) {
                evt.preventDefault();
                 this.title = '';
                 this.content = ''
            },
        }
    }
</script>
<style>
    label {
        color: black;
    }
    h2 {
        text-transform: capitalize
    }
</style>
