<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-container>
                <b-navbar-brand href="#">Brand</b-navbar-brand>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item>
                            <router-link
                                to="/reports"
                                class="nav-item"
                                active-class="active"
                                exact><a class="nav-link">Home</a>
                            </router-link>
                        </b-nav-item>
                        <b-nav-item>
                        <router-link
                                v-if="!loggedIn"
                                to="/login"
                                class="nav-item"
                                active-class="active"
                                exact><a class="nav-link">Login</a>
                        </router-link>
                        </b-nav-item>
                        <b-nav-item>
                            <router-link
                                v-if="!loggedIn"
                                to="/registration"
                                class="nav-item"
                                active-class="active"
                                exact><a class="nav-link">Registration</a>
                            </router-link>
                        </b-nav-item>
                        <b-nav-item>
                            <a  href="#"
                                v-if="loggedIn" 
                                class="nav-item"
                                @click="logout"
                                active-class="active"
                                exact><a class="nav-link">Logout</a>
                            </a>
                        </b-nav-item>
                    </b-navbar-nav>
                    <b-navbar-nav v-if="loggedIn" class="ml-auto">
                        <b-nav-item-dropdown right>
                            <template v-slot:button-content>
                                <em>Report Type</em>
                            </template>
                            <b-dropdown-item :to="'/reports/rental'">Rental</b-dropdown-item>
                            <b-dropdown-item :to="'/reports/sales'">Sales</b-dropdown-item>
                            <b-dropdown-item :to="{name: 'reports'}">All</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                </b-collapse>
            </b-container>
        </b-navbar>
    </div>
</template>

<script>
export default {
    computed: {
        loggedIn() {
            return this.$store.getters.loggedIn();
        }
    },

    methods: {
        logout() {
            this.$store.dispatch('logout')
            .then(response => {
            console.log(response);
              this.$router.push('/login')
            }).catch(error => {
                console.log(error);
                this.$router.push('/login');

            })
            }
},
}
</script>
