<template>
    <b-container class="d-flex justify-content-center">
        <div class="p-4 mt-1 form">
            <b-form @submit.prevent="register" @reset="onReset" v-if="show">
            <div class="nav-item text-light"><a class="nav-link"><h4>Registartion</h4></a></div>
            <b-alert
                variant="danger"
                dismissible
                fade
                :show="error"
            >
            User with email addres already exists
            </b-alert>
            <b-form-group
                id="input-group-1"
                label="First Name"
                class="text-light"
                label-for="input-1"
            >
            <b-form-input
                :class="{'is-invalid' : $v.name.$error}"
                @input="$v.name.$touch()"
                id="input-1"
                v-model.trim="name"
                type="text"
            >
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.name.required">Name field is required</div>
            </b-form-group>
            <b-form-group
                id="input-group-2"
                label="Email"
                class="text-light"
                label-for="input-2"
            >
            <b-form-input
                :class="{'is-invalid' : $v.email.$error}"
                @input="$v.email.$touch()"
                id="input-2"
                v-model="email"
                type="email"
            >
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.email.required">Email field is required</div>
            <div class="invalid-feedback" v-if="!$v.email.email">This field should be an email</div>
            </b-form-group>
            <b-form-group
                id="input-group-3"
                label="Password"
                class="text-light"
                label-for="input-3"
            >
            <b-form-input
                v-show="!showPass"
                :class="{'is-invalid' : $v.password.$error}"
                @input="$v.password.$touch()"
                id="input-3"
                v-model="password"
                type="password"
            >
            </b-form-input>
            <b-form-input
                v-show="showPass"
                :class="{'is-invalid' : $v.password.$error}"
                @input="$v.password.$touch()"
                id="input-3"
                v-model="password"
                type="text"
            >
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.password.required">Password field is required</div>
            <div class="invalid-feedback" v-if="!$v.password.minLength">
            Min length of password is {{ $v.password.$params.minLength.min }}.Now it is {{ password.length }}.
            </div>
            </b-form-group>
            <b-form-group
                id="input-group-4"
                label="Confirm Password"
                class="text-light"
                label-for="input-4"
            >
            <b-form-input
                :class="{'is-invalid' : $v.confirm.$error}"
                @input="$v.confirm.$touch()"
                id="input-4"
                v-model="confirm"
                type="password"
            >
            </b-form-input>
            <div class="invalid-feedback" v-if="!$v.confirm.sameAs">Password should match</div>
            </b-form-group>
            <b-form-checkbox @change="showPass = !showPass"><h6 class="text-light">Show Password</h6></b-form-checkbox>
            <b-button type="submit" variant="primary" class="w-100 rounded-pill m-1" :disabled="$v.$invalid">Submit</b-button>
            <b-button type="reset" variant="danger" class="w-100 rounded-pill m-1">Reset</b-button>
            </b-form>
        </div>
    </b-container>
</template>

<script>
    import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
    export default {
        data() {
            return {
                error: false,
                showPass: false,
                name: '',
                email: '',
                password: '',
                confirm: '',
                show: true
            }
        },

        validations: {
        name: {
            required,
        },
        email: {
            required,
        email
        },
        password: {
            required,
            minLength: minLength(6)
        },
        confirm: {
            sameAs: sameAs('password')
        }
        },
        
        methods: {
            register() {
                this.$store.dispatch('register',{
                    name: this.name,
                    email: this.email,
                    password: this.password
                }).then(response => {
                    console.log(response);
                    this.$router.push('login')
                }).catch(error => {
                    console.log(error);
                    this.error = true;
                })
            },
            onReset(evt) {
                evt.preventDefault();
                this.name = '';
                this.email = '';
                this.password = '';
                this.confirm = '';
            },
        }
}
</script>
<style>
    .form {
    padding: 10px;
    width: 600px;
    min-height: 400px;
    border-radius: 20px;
    background-image:  url(../assets/background.jpg);
    }
    
    #input-1,
    #input-2,
    #input-3,
    #input-4 {
    background: transparent;
    border-radius: 20px;
    }
</style>
